h1 {
  text-align : center;
  color : blue;
}

h3 {
  text-align : center;
  color : green;
}

h3:hover {
  color : purple;
}

h2 {
  text-align : center;
  color : white;
  background-color : rgb(72, 145, 72);

}
